{% extends 'base.html' %}
{%load static%}
{%load crispy_forms_tags %}
{%block content%}





  <section class="about_section layout_padding">
    <div class="container">
      <div class="box">
        <div class="heading_container">
          <h2>
            <span>About Our School</span>
          </h2>
        </div>
        <div class="img-box">
          <img src="{%static 'images/about-img.png'%}" alt="">
        </div>
        <div class="row">
          <div class="col-md-10 mx-auto">
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

            </p>
          </div>
        </div>
      
      </div>
    </div>
  </section>

  <!-- end about section -->

  
    <div class="footer_bg">
      <!-- contact section -->
    
      <section class="contact_section ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7 mx-auto">
              <div class="heading_container">
                <h2 class="">
                  Get In Touch
                </h2>
              </div>
              <form action="" method="post">
                {%csrf_token%}
                
              
                <div>
                 {{form.name}}
                </div>
                <div>
                  {{form.number}}
                </div>
                <div>
                 {{form.email}}
                </div>
                <div>
                  {{form.message}}
                </div>
                <div class="d-flex  mt-4 ">
                  <button>
                    SEND
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

    <!-- contact section -->

   
    <!-- end info_section -->

    <!-- footer section -->
   
    {%endblock content%}
  